{{input type="text" value=toDoItem class="form-control" placeholder="Add to-do"}}


  <button {{action 'addToDo'}} class="btn btn-success btn-circle" type="submit">Add</button>



<!-- <input type="email" class="form-control" placeholder="Email Address" required>
<span class="input-group-btn">
  <button class="btn btn-success btn-circle" type="submit">Sign up for free</button>
</span> -->
