<!-- Esta página aparece en todos los routes templates. Aquí es bueno
ponerle el div container para que todo el outlet ya lo tenga. También
se puede añadir el header y footer, el outlet estando en el medio.  -->

<div>
  {{#link-to 'to-do'}}Home{{/link-to}}
  {{#link-to 'to-do.add'}}Add{{/link-to}}
</div>

{{outlet}}
