<!-- En este input el usuario añadirá un to do item. Muy importante aquí
es el value que está atado a toDoItem que será utilizado para
atrapar lo que sea que el usuario escriba desde el controller. -->
<!-- {{input type="text" value=toDoItem}} -->

{{outlet}}

<!-- El botón, al darle click, es el que va a activar la acción de addToDo que creará
un nuevo record utilizando lo que el usuario escriba en el input -->
<!-- <button>{{#link-to 'to-do.add'}}Add{{/link-to}}</button> -->

<!-- Una vez se crea el record desde el controller, este each helper será
el que desplazará los to do items como una lista justo debajo del input.
En el route handler, el model hook devuelve todos los records encontrados
y hace disponible en los templates los to do items.  -->
<ol id="list">
  {{#each model as |todo|}}
    <div class="item">
      <li><p>{{todo.name}} <a href="#" {{action 'deleteToDo' todo.id}}>X</a></p></li>
    </div>
  {{/each}}
</ol>


<!-- Cabe destacar que además de aparecer los to do items, justo al lado aparece
una X envuelta en un anchor tag, que al darle click, va a las acciones en
el controller y utiliza la función de deleteToDo, que a su vez coge como parámetro
el todo.id del to-do que esté con esa X (to-do específico) -->
